@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.logo-text {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}

.button-text {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.page-break {
    width: 1900px;
    margin:auto;
    height: 1px;
    left: 0px;
    right: 0px;
    background-color:rgba(34, 34, 34, 0.1);
    position: absolute;
    z-index: 3;
}

.banner-logo {
    position: absolute;
    height:89.92px;
    width: 86.11px;
    left: 420.96px;
    top: 129px;
    bottom: 95.91%;
    transform: rotate(339deg);
}

.banner-text-1 {
    position: absolute;
    width: 342px;
    height: 21px;
    top: 139px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #30AEC6;
}

.banner-text-2 {
    position: absolute;
    height: 116px;
    width: 430px;
    top: 170px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    color: #222222;
}

.banner-text-3 {
    position: absolute;
    width: 500px;
    height: 60px;
    top: 296px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #222222;
}

.banner-text-4 {
    position: absolute;
    width: 193px;
    height: 28px;
    top: 376px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}

.banner-button-1 {
    position:absolute;
    top: 420px;
    bottom: 91.1%;
    background: #30AEC6;
    border-radius: 6px;
    width: 210px;
    height: 49px;
    border-color:#30AEC6;
    border:0px;
}

.banner-button-2 {
    position:absolute;
    left: 306px;
    top: 420px;
    bottom: 91.1%;
    background: #FE7677;
    border-radius: 6px;
    width: 210px;
    height: 49px;
    border-color:#FE7677;
    border:0px;
}

.banner-button-text {
    height: 24px;
    left: 15.62%;
    right: 80.21%;
    top: calc(50% - 24px/2 - 2467px);
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.e-background {
    /*animation: bgScroll 1500s linear infinite;*/
    background-image: url("public\storage\images\soc-proof-new-min.jpg");
    background-size: cover;

}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    height: 32px;
    width: 32px;
    padding: 0px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    height: 32px;
    width: 32px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

