@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

.logo-text {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}

.button-text {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.page-break {
    width: 1900px;
    margin:auto;
    height: 1px;
    left: 0px;
    right: 0px;
    background-color:rgba(34, 34, 34, 0.1);
    position: absolute;
    z-index: 3;
}

.banner-logo {
    height: 50px;
    transform: rotate(350deg);
}

.overflow-cap {
    overflow: hidden;
    height: 635px;
}

.banner-text-1 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #30AEC6;
}

.banner-text-2 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 58px;
    color: #222222;
}

.banner-text-3 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #222222;
}

.banner-text-4 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222222;
}

.banner-button-1 {
    background: #30AEC6;
    border-radius: 6px;
    width: 210px;
    height: 49px;
    border-color:#30AEC6;
    border:0px;
}

.banner-button-2 {
    background: #FE7677;
    border-radius: 6px;
    width: 210px;
    height: 49px;
    border-color:#FE7677;
    border:0px;
}

.banner-button-text {
    height: 24px;
    left: 15.62%;
    right: 80.21%;
    top: calc(50% - 24px/2 - 2467px);
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.e-background-desktop {
    animation: slide 20s linear infinite;
    background-size: cover;
    height: 2180px;
    clip: rect(0px, 1000px, 635px, 0px);
}

.e-background-mobile {
    display: none;
}

@keyframes slide {
    0%{
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(0, -1545px, 0);
    }
}

@keyframes slide-mobile {
    0%{
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-1000px, 0, 0);
    }
}

.featured {
    background-color: #F0F2F1; !important;
    width: 1900px;
}


.navbar {
    border-bottom: 1px solid rgba(34,34,34,.1);
}

.banner-text-area {
    margin-top: 3rem;
    padding-top: 3rem;
}

.gender-buttons {
    display: flex;
    width: 100%;
}

.journey-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}

.trustpilot-image-desktop{
    height: 827px;
    right: 200px;
    position: absolute;
    z-index: -5;
}

.trustpilot-image-mobile{
    display: none;
}

.trustpilot-text-1 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #303030;
}

.trustpilot-text-2 {
    text-align: center;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    text-align: center;
    color: #30AEC6;
}

.trustpilot-text-3 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #222222;
}

.trustpilot-stars {
    height: 19px;
    width: 100px;
}

.trustpilot-text-4 {
    padding-top:12px;
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
}

.trustpilot-text-5 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #222222;
}

.trustpilot-verified {
    height: 20px;
    width: 20px;
}

.trustpilot-text-6 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #00B67A;
    mix-blend-mode: normal;
}

.trustpilot-logo {
    height: 76px;
    width: 130px;
    margin-top:60px;
    text-align: center;
}

.description-text-1 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #222222;
}

.description-text-2 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #222222;
}

.description-text-3 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #222222;
}
.description-text-4 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #30AEC6;
}

.description-text-5 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #222222;
}

.description-text-6 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}

.description-text-7 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #222222;
}

.description-text-8 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.8);
}

.description-text-9 {
    font-family: Red Hat Text;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #222222;
}

.disabled-desktop {
    display: none;
}

.gray-background {
    background: #F9FAF9;
}

.testimonial-arrow {
    width: 141px;
    height: 37px;
    padding-top: 17px;
}

.journey-text-1 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 48px;
    color: #222222;
}

.journey-text-2 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #222222;
}

.journey-text-3 {
    font-family: Red Hat Text;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #222222;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-text-1 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

.footer-text-2 {
    font-family: Red Hat Text;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 990px) {
    .banner{
        display: flex;
        flex-direction: column-reverse;
    }
    .e-background-desktop {
        display: none;
    }
    .e-background-mobile {
        display: flex;
        height: 220px;
        animation: slide-mobile 20s linear infinite;
        background-size: cover;
        width: 1400px;
    }
    .banner-logo {
        display: none;
    }
    .banner-text-area {
        margin-top: 0px;
        padding-top: 1rem;
        width: 100%;
    }
    .text-area {
        margin-top: 0px;
        padding-top: 1rem;
        width: 100%;
    }
    .disabled {
        display: none;
    }
    .overflow-cap {
        overflow: hidden;
        height: 100%;
    }
    .featured {
        width: 100%;
    }
    .featured-row {
        flex-direction: column;
    }
    .featured-row .col-2 {
        width: 100%;
        text-align: center;
    }
    .featured-row .col-10 {
        align-content: center;
        padding: 0px;
        width: 100%;
    }
    .change-to-column {
        flex-direction: column;
    }
    .width-max {
        width: 100%;
        padding-top: 2rem;
    }
    .trustpilot-image-desktop{
        display: none;
    }
    .trustpilot-image-mobile{
        position: absolute;
        z-index: -5;
        height: 450px;
        padding: 0px;
        width: 500px;
        display: flex;
    }
    .description-text-1 {
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        color: #222222;
    }
    .description-text-2 {
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.01em;
        color: #222222;
    }
    .description-text-3 {
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #222222;
    }
    .disabled-desktop{
        display: flex;
    }
    .journey-text-1{
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        font-size: 34px;
        line-height: 48px;
        color: #222222;
    }
    .journey-text-2 {
        font-family: Red Hat Text;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        color: #222222;
    }
    .content-left {
        text-align: left;
    }
    .footer-float-left{
        float: left;
    }
    .footer-column-1 {
        order: 1;
    }
    .footer-column-2 {
        order: 2;
        width: 50%;
    }
    .footer-column-3 {
        order: 4;
    }
    .footer-column-4 {
        order: 3;
        width: 50%;
    }
    .footer-column-5 {
        order: 5;
    }

}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    height: 32px;
    width: 32px;
    padding: 0px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 32px;
    width: 32px;
    display: inline-block;
    background-color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    height: 32px;
    width: 32px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    height: 32px;
    width: 32px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

